body {
    background-image: url(../images/star-wars-wallpaper-4.jpg);
    background-size: 100%;
}
h1 {
    text-align: center;
}
#anakin-img {
    width: 97%;
}
#obi-img {
    width: 96%;
}
#kylo-img {
    width: 103%;
}
#anakin-text {
    color: #cf9a6d;
}
#obi-wan-text {
    color: #bfd3e3;
}
#maul-text {
    color: #ff5d51;
}
#kylo-text {
    color: #ff0101;
}
#character {
    display: none;
}
#enemies {
    display: none;
}
#enemies-title {
    text-align: center;
}
#defender {
    display: none;
}
#fightDisplay1 {
    font-size: 40px;
    color: white;
    margin: auto;
}
#fightDisplay2 {
    font-size: 40px;
    color: white;
    margin: auto;
}
#defeated {
    display: none;
}